@font-face {
  font-family: google-sans-regular;
  src: url(../Fonts/Google-Sans/ProductSans-Regular.ttf);
}

@font-face {
  font-family: google-sans-bold;
  src: url(../Fonts/Google-Sans/ProductSans-Bold.ttf);
}
