* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  font-family: google-sans-regular;
}

.btn {
  color: #ffffff;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
