.oformleniya {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  &__right-section {
    width: 100%;
  }
}

.sidebar {
  max-width: 330px;
  height: 1024px;
  padding: 34px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(148, 148, 148, 0.25);

  &__nav {
    margin-top: 25.6px;

    ul {
      list-style: none;

      li {
        padding: 9px 19px;
        a {
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          width: 250px;
          color: #383838;
        }
      }
    }

    &--back {
      background: #004263;
      border-radius: 10px;

      .back-white-link {
        color: #ffffff;
      }
    }
  }

  &__logo {
    transform: scale(0.735);
  }
}

.header {
  width: 100%;
  background: #535c6b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 30px;

  img {
    cursor: pointer;
  }

  img:first-child {
    margin-right: 32px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin-right: 15px;
    margin-left: 12px;
    cursor: pointer;
  }
}

.petition {
  margin: 24px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: #383838;
    }

    button {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      background: #ef7c00;
    }
  }

  // Rejected

  .all-petition {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.1s;

    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 10px 0;

      &--left {
        h3 {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #383838;
          margin-bottom: 5px;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #a0a0a0;
        }
      }

      &--right {
        width: 283px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        button {
          background: #850000;
          cursor: pointer;
          width: 231px;
        }

        .processing-bnt {
          background: #f49d1a;
        }

        .completed-bnt {
          background: #379237;
        }

        .followSteps-btn {
          background: #e7ebef;
          color: #383838;
        }

        img {
          padding: 18px 16px;
          background: #f9f9f9;
          border-radius: 10px;
          transition: all 0.4s;
        }
      }
    }

    &__hero {
      display: flex;
      justify-content: space-between;

      transition: all 1s;

      &--left {
        width: 100%;
      }

      &--left-1,
      &--left-2 {
        padding: 14px;
        width: 99.9%;
        background: #fbfbfb;
        border-radius: 10px;
        margin-bottom: 5px;

        h4 {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #383838;
          margin-bottom: 10px;

          .red-span,
          .green-span {
            background-color: red;
            border-radius: 50%;
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-right: 7px;
            margin-bottom: -1px;
          }

          .green-span {
            background-color: #54b435;
          }

          span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #a0a0a0;
          }
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #a0a0a0;
        }
      }

      &--right {
        margin-right: 0;
        width: 42px;
        img {
          margin-right: 0;
          padding: 18px 16px;
          background: #f9f9f9;
          border-radius: 10px;
          transform: rotate(180deg);
        }
      }
    }
  }

  &__back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.submit-petition {
  // position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;

  &__back {
    width: 50%;
    background: rgba(0, 66, 99, 0.06);
    backdrop-filter: blur(10px);
  }

  &__form {
    position: relative;
    width: 50%;
    margin-top: 2px;
    padding: 42px 31px;
    background: #ffffff;
    box-shadow: 0px -4px 4px rgba(139, 139, 139, 0.25);

    &--close {
      position: absolute;
      left: -40px;
      top: 53px;
      width: 40px;
      height: 40px;
      z-index: 2;
      background: #ef7c00;
      border-radius: 10px 0px 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: 10px;
        height: 10px;
      }
    }

    &--title {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: #383838;
      margin-bottom: 30px;
    }

    &--miniTitle {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #383838;
      margin-bottom: 5px;
      margin-top: 15px;
    }

    &--miniTitle-red {
      color: #850000;
      margin-top: -5px;
    }

    &--items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 15px;
      background: #ffffff;
      border: 1px solid #004263;
      border-radius: 8px;
      margin-bottom: 15px;
      cursor: pointer;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #a0a0a0;
      }
    }

    &--items-back {
      background: #004263;
      cursor: default;

      p {
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }
    }

    &--checkbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;

      input {
        margin-left: 10px;
        transform: scale(1.8);
      }

      p {
        font-size: 14px;
        line-height: 20px;
        color: #383838;
        margin-left: 12px;
      }
    }

    &--comment {
      padding: 13px 15px;
      height: 124px;
      width: 100%;
      background: #ffffff;
      border: 1px solid #004263;
      border-radius: 8px;
      resize: none;
      outline: none;
      margin-bottom: 15px;

      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #a0a0a0;
      }
    }

    &--button {
      width: 200px;
      height: 50px;
      background: #ef7c00;
      border-radius: 8px;
      cursor: pointer;

      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
    }

    &--button2 {
      width: 136px;
      margin-left: 10px;
      background: #850000;
    }

    &--buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
