.oformleniya {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
}

.sidebar {
  max-width: 330px;
  height: 1024px;
  padding: 34px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(148, 148, 148, 0.25);

  &__nav {
    margin-top: 25.6px;

    ul {
      list-style: none;

      li {
        padding: 9px 19px;
        a {
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          width: 250px;
          color: #383838;
        }
      }
    }

    &--back {
      background: #004263;
      border-radius: 10px;

      .back-white-link {
        color: #ffffff;
      }
    }
  }

  &__logo {
    transform: scale(0.735);
  }
}
